:root {
    --tile-size: 100px; 
    --color-9: #5B9A4A;
    --color-1: #4D8FC4;
    --color-2: #E5B83F;
    --color-3: #C9574B;
    --color-4: #805A9E;
    --color-5: #D77A45;
    --color-6: #3F9990;
    --color-7: #C66A83;
    --color-8: #8A6748;
    --highlight-color: #fff8e79f;
    --darkened-color: #000000;
}

html, body {
    margin: 0;
    padding: 0;
}